
  /* Estilo para el encabezado */
  header {
    padding: 1em;
    text-align: center;
    display: flex;
    justify-content: flex-end;
  }
  
  .img img {
    width: 230px;
    height: auto;
    margin-left: 0;
  }
  
  /* Estilo para el pie de página */
  
footer {
    background-color: #d72929;
    color: white;
    padding: 1em;
    text-align: center;
}
  /* Estilo para el contenedor de botones */
  .home-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Ajustado para mejor espaciado */
    justify-content: center; /* Centra los elementos */
    position: relative;
    width: 100%;
    max-width: 400px; /* Ajusta el tamaño máximo */
    text-align: center;
  }
  
  .home-item {
    cursor: pointer;
    width: 55px; 
    transition: transform 0.3s ease, background-color 0.3s ease;
    border: 2px solid #000000; /* Color de borde más profesional */
    border-radius: 12px;
    padding: 10px;
    background-color: #ffffff; /* Fondo blanco para destacar */
  }
  
  .home-item img {
    width: 68%; /* Ajusta el ancho a su contenedor */
    height: auto;
    border-radius: 8px;
  }
  
  .home-item:hover {
    transform: scale(1.1);
    background-color: #e9ecef; /* Fondo más claro al pasar el mouse */
  }
  
  /* Responsividad */
  @media (max-width: 768px) {
    .home-container {
        max-width: 100%; /* Ajusta el ancho para pantallas más pequeñas */
        gap: 15px; /* Espaciado más compacto */
    }
  
    header {
        flex-direction: column; /* Alineación vertical */
        text-align: center;
    }
  }
  
  body {
    background-color: #f8f9fa;
}
header {
    padding: 10px 0;
    text-align: center;
}

.container {
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}
h1 {
    color: #007bff;
    text-align: center;
    margin-bottom: 20px;
}
.form-label {
    font-weight: bold;
}
.btn-primary {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background-color: #007bff;
    border: none;
}
.btn-primary:hover {
    background-color: #0056b3;
}
.form-select {
    margin-bottom: 15px;
}
.form-text {
    font-size: 0.875em;
    color: #6c757d;
}